h2.profile{
    position: absolute;
width: 138px;
height: 29px;
left: 1650px;
top: 32px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #2B4EA2;

}

.profile{
    position: absolute;
width: 344px;
height: 82px;
left: 1576px;
top: 0px;

background: #FFFFFF;
}

.banner{
    position: absolute;
width: 1529px;
height: 314px;
left: 361px;
top: 95px;
}

.image{
    position: absolute;
width: 800px;
height: 314px;
left: 1090px;
top: 95px;
}

.Courses{
    position: absolute;
    width: 89px;
    height: 28px;
    left: 361px;
    top: 370px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.Courses1{
    width: 758px;
    height: 228px;
    background: #FFFFFF;
    border-radius: 5px;
}

.Courses2{
    position: absolute;
    width: 758px;
    height: 228px;
    left: 1132px;
    top: 446px;
    position: absolute;
    width: 758px;
    height: 228px;
    left: 1132px;
    top: 446px;
    background: #FFFFFF;
    border-radius: 5px;    
}

.Courses3{
    position: absolute;
width: 758px;
height: 228px;
left: 361px;
top: 692px;
background: #FFFFFF;
border-radius: 5px;
}

.Courses4{
    position: absolute;
    width: 758px;
    height: 228px;
    left: 1132px;
    top: 692px;
background: #FFFFFF;
border-radius: 5px;
}

.footer{
    position: absolute;


font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
position: absolute;
width: 1596px;
height: 64px;
left: 324px;
bottom: -164px;
background: #FFFFFF;

color: #000000;
}

h6.footer{
    position: absolute;
    width: 94px;
    height: 27px;
    left: 1786px;
    top: 1034px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

p{

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #282828;

}

.rectangle {
width: 110px;
height: 35px;
background: rgba(143, 230, 113, 0.64);
border-radius: 5px;
}

.rectangle2 {
    width: 110px;
    height: 35px;
background: #FFDCDC;
border-radius: 5px;
}

.widget_days{
left: 100px;

font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 28px;
color: #228400;

}
.widget_1{
    display: flex;
    gap: 65px;
}
.widget_start{
    left: 100px;

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #228400;
}
.widget_ends{
    left: 77px;

font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 28px;
color: #FF4545;
}
.widget_end{
    left: 100px;

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
position: relative;
color: #FF4545;
}
.widget_progress{
margin-left: 250px;
width: 239px;
height: 15px;
left: 736px;
top: 566px;
}
