body {
  background-color: lightgray;
}

.sideNavBar {
  /* margin: 0; */
  /* left: 0;
  top: 0; */
  /* padding: 0; */
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* width: 320px; */
  width: 17%;
}

.schoolLogo {
  margin-top: 240px;
}

.logo {
  position: absolute;
  width: 185px;
  height: 175px;
  left: 68px;
  top: 0px;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #2B4EA2);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.nav-func {
  padding: 10px 0 10px 16px;
}

.icNavBar {
  height: 16px;
  display: inline-block;
  margin-left: 16px;
}

.NavBar_text {
  display: inline-flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #282828;
}

.text-selected {
  color: #0030A5;
  font-weight: 500;
}

.func-selected {
  background-color: rgb(157, 186, 255, 64%);
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


