.currentCourseText {
    position: absolute;
    width: 691px;
    height: 39px;
    left: 412px;
    top: 110px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #1A558B;
}

.courses {
    border-radius: 10px;
    left: 368px;
    top: 211px;
    width: 1503px;
    height: 607px;
    background: #FFFFFF;
    position: absolute;
    padding: 12px 33px 12px 33px;
    box-sizing: border-box;
    overflow: scroll;
}

.textRow {
    display: flex;
    padding-inline: 20px;
}

.textRow h3 {
    margin: 0;
}

.column_name {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    color: #1A558B;
}

.outer-container {
    color: #282828;
    display: flex;
    margin: 15px 0 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}
.course-name {
    width: 27%;
}
.course-code {
    width: 22%;
}
.course-desc {
    width: 42%;
}
.enroll {
    width: 9%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enroll-checkbox {
    height: 40px;
}
.course-desc p {
    margin: 0;
    padding: 0;
}
.desc {
    height: 100px;
    overflow: hidden;
}
.desc[expanded='true'] {
    height: auto;
}
.enroll-checkbox {
    width: 40px;
}
.column-pr {

    box-sizing: border-box;
}
.detail-func {
    text-decoration: underline;
    color: #007BFF;
    font-weight: 700;
    font-size: 18px;
}

.enrollBtn {
    position: fixed;
    top: 850px;
    left: 1707px;
}
