.site-name {
    /* position: absolute;
    width: 1250px;
    height: 82px;
    left: 324px;
    top: 0px; */
    position: fixed;
    width: 65%;
    background: #FFFFFF;
    top: 0;
    left: 324px;
    height: 82px;
  }
  
  .header_text {
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #282828;
  }
  
  .account {
    position: fixed;
    height: 82px;
    left: calc(324px + 65%);
    top: 0px;
    width: 18%;
    background: #FFFFFF;
  }

  .avatar {
    position: absolute;
    left: 30px;
    width: 40px;
    top: 20%;
    bottom: 94.07%;
  }

  .student_name {
    margin-left: 100px;
    margin-top: 32px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #2B4EA2;
  }

  .caret {
    position: absolute;
    width: 25px;
    height: 14.18px;
    left: 253px;
    top: 35px;
  }

  /* .footer {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    position: absolute;
    width: calc(100% - 320px);
    height: 64px;
    left: 324px;
    top: 1016px;
    background: #FFFFFF;
    color: #000000;
  } */


  
